__pycache__/
*.pyc
*.pyo
*.pyd
*.pyx.md5
.env

# Archivos de datos de prueba
tests/datos_test.csv

# Cython build artifacts
src/lib/mathdoz/build/
src/lib/mathdoz/tensor_c.c
src/lib/mathdoz/*.so

# Imágenes generadas por Plotdoz
tests/*.png
tests/*.svg
*.png
*.svg
